body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.popover {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 250px;
  z-index: 10;
  text-align: center;
}

.popover::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.popover h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  text-align: start;
}

.popover p {
  font-size: 12px;
  margin: 0;
  padding: 10px 0;
  text-align: start;
}
